.calendar_container{
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
aside{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.diaSemana{
  background-color: var(--gris-oscuro);
  width: 100%;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: .8rem;
}
.calendar_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header_text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}
.nombre_mes{
  font-weight: 600;
  font-size: 2.5rem;
}
.año{
  color: var(--gris);
  font-size: 1.5rem;
  font-weight: 600;
}
.buttonsMonth{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}
.buttonsMonth > button{
  color: var(--blanco);
  border-radius: 50%;
  background-color: var(--gris-oscuro);
  border: none;
  cursor: pointer;
  padding: .2rem;
}
.buttonsMonth > button:hover{
  background-color: var(--blanco);
  color: var(--negro);
}
.buttonsMonth > button > svg{
  width: 1.8rem;
  height: 1.8rem;
}
.buttonsMonth > button:last-child > svg{
  width: 1.5rem;
  height: 1.5rem;
}
.buttonsMonth > button:last-child:hover{
  background-color: var(--blanco);
  color: var(--negro);
}

.spent_container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.spent_title{
  color: var(--gris);
}
.spent_value{
  font-weight:700;
  font-size: 1.5rem;
  color: var(--naranja);
}

.options_btn{
  display: flex;
  justify-content: flex-end;
}
.options_btn > ul{
  list-style-type: none;
  display: flex;
  gap: .4rem;
}
.options_btn > ul > li{
  padding: .4rem;
  display: grid;
  place-content: center;
  border-radius: 8px;
  color: var(--negro);
}
.options_btn > ul > li:hover{
  cursor: pointer;
}
.dashboard_btn{
  background-color: var(--azul);
}
.new_btn{
  background-color: var(--verde);
}
.mySubs_btn{
  background-color: var(--azul);
}

.calendar_body{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  justify-items: center;
}