.dia{
  padding: .2rem;
  width: min(100%, 6rem);
  aspect-ratio: 1 / 1.1;
  background-color: var(--gris-oscuro);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.number{
  font-size: .8rem;
  font-weight: 500;
  color: var(--blanco);
}
.diaActual{
  border: 2px solid var(--blanco);
}
.diaActual > .number{
  color: var(--negro);
  background-color: var(--blanco);
  padding: 0.1rem .6rem;
  border-radius: 8px;
}

.day {
  position: relative;
  /* ... */
}

.dayNumber {
  font-weight: bold;
  /* ... */
}

.icons_container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.subscription_icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}