section{
  margin-bottom: 1rem;
}

label{
  display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.icon_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.buscador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search_input{
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  background-color: var(--gris);
  border: none;
  border-radius: 6px;
  color: var(--blanco);
  font-size: 1rem;
}
.search_input:focus{
  outline: 2px solid var(--verde);
}
.icon_displayer{
  background-color: var(--gris);
  border-radius: 6px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  padding: .3rem .3rem .1rem .3rem;
}
span{
  font-size: .8rem;
  color: var(--gris-claro);
}
.icon_selected{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.icon_selected > img{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.icon_selector{
  background-color: var(--gris);
  border-radius: 6px;
  width: 100%;
  height: 90px;
  display: grid;
  place-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon_selector > img{
  width: 35px;
  margin: .2rem;
  cursor: pointer;
}
.icon_selector > p{
  font-size: .8rem;
  color: var(--gris-claro);
  text-align: center;
}

.iconToBeSelected{
  cursor: pointer;
  width: 20px;
  margin: .2rem;
}
.random_btn {
  padding: 5px 12px;
  border-radius: 6px;
  border: 2px solid var(--gris);
  cursor: pointer;
  font-size: 1rem;
  color: var(--gris-claro);
}
.random_btn:hover{
  background-color: var(--gris);
  color: var(--blanco);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: .4rem;
}

.enlace_logo{
  text-decoration: none;
  color: var(--gris-claro);
  font-size: .7rem;
}
.enlace_logo:hover{
  text-decoration: underline;
}

/*? ======================================= */

