.title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--accent);
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  max-width: 600px;
}

.subCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris-oscuro);
  border: 1px solid var(--gris);
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
}

.sub_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}

.sub_icon {
  width: 5rem;
  min-width: 5rem;
  height: auto;
  border-radius: 5px;
}

.card_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .2rem;
}

.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.card_active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: .3rem;
}

.inactiveIcon {
  color: var(--rojo);
}

.activeIcon {
  color: var(--accent);
}

.sub_cost {
  color: var(--negro);
  font-weight: 700;
  font-size: 1.3rem;
  padding: .2rem .6rem;
  background-color: var(--blanco);
  border-radius: 15px;
  height: fit-content;
  display: flex;
  align-items: center;
}

.totalCost {
  font-weight: 600;
  font-size: 1rem;
  color: var(--naranja);
  display: flex;
  align-items: center;
  gap: .2rem;
}

.sub_frequency {
  color: var(--gris-claro);
}

.sub_startDate {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .5rem;
  width: 100%;
}

.btn {
  padding: .3rem .7rem;
  border-radius: 5px;
  gap: .3rem;
  cursor: pointer;
  align-self: center;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.edit_btn {
  background-color: var(--azul);
  color: var(--negro);
}

.edit_btn:hover {
  background-color: var(--info-hover);
}

.cancel_btn {
  color: var(--gris-muy-claro);
  border: 1px solid var(--gris);
}

.cancel_btn>.spinner_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel_btn>.spinner_container>.spinner {
  width: 24px;
}

.cancel_btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.delete_btn {
  background-color: var(--rojo);
}

.delete_btn:hover {
  background-color: var(--rojo-oscuro);
}

.title_container {
  display: flex;
}

.back_btn {
  cursor: pointer;
  padding: .4rem .8rem;
  color: var(--gris-claro);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border: 1px solid var(--gris);
  margin: 1rem 1rem 0 1rem;
  align-self: flex-start;
  transition: background-color 0.2s ease;
  position: sticky;
  top: 10px;
  background-color: var(--negro);
}

.back_btn:hover {
  background-color: var(--gris);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.spinner {
  width: 4rem;
  fill: var(--accent);
}

.redirectNewSub_btn {
  background-color: var(--accent);
  color: var(--negro);
  font-weight: 500;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.redirectNewSub_btn:hover {
  background-color: var(--accent-hover);
}

/** MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--gris-oscuro);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid var(--gris);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modal>h2 {
  color: var(--accent);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.modal-actions button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
}

.modal-delete_btn {
  background-color: var(--rojo);
  color: var(--negro);
  border: none;
}

.modal-delete_btn:hover {
  background-color: var(--rojo-oscuro);
}

.modal-cancel_btn {
  border: 1px solid var(--gris);
  background-color: var(--negro);
  color: var(--blanco);
}

.modal-cancel_btn:hover {
  background-color: var(--gris);
}

.modal-delete_btn>.spinner_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-delete_btn>.spinner_container>.spinner {
  width: 21px;
  fill: var(--negro);
}


@media (max-width:417px) {
  .sub_container {
    flex-direction: column;
  }

  .card_footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: .4rem;
  }
}