---
import CalendarBody from "../components/CalendarBody";
import ShowToast from "../components/ShowToast";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

// const prerender = false

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

let currentYear = new Date().getFullYear();
let currentMonth = new Date().getMonth();

let session;
try {
  session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });
  if (session.error) {
    resetCookies();
  }
} catch (error) {
  resetCookies();
}

const email = session.data.user?.email;
const name = session.data.user?.user_metadata.name;
const avatar = session.data.user?.user_metadata.avatar_url;

function resetCookies() {
  cookies.delete("sb-access-token", { path: "/" });
  cookies.delete("sb-refresh-token", { path: "/" });
  return redirect("/login");
}
import { getLangFromCookie, useTranslations } from "../i18n/utils";
const lang = getLangFromCookie(Astro.cookies);
const t = useTranslations(lang);
---

<Layout title={t('nav.home')}>
  <!-- <CleanURL/> -->
  <div class="home-container">
    <CalendarBody
      initialYear={currentYear}
      initialMonth={currentMonth}
      lang={lang}
      client:load
    />
    <ShowToast client:only />
  </div>
</Layout>

<style>
  .home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    display: block;
  }

  @media (max-width: 768px) {
    .home-container {
      margin-bottom: 5rem;
    }
  }
</style>
