---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import googleLogo from "../images/googleLogo.png";
import LoadingSpinner from "../components/LoadingSpinner";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/");
}
---

<Layout title="Submana Login">
  <section>
    <Logo />
    <div class="separator"></div>
    <form action="/api/auth/signin" method="post">
      <button id="login_btn" value="google" name="provider" type="submit">
        <img src={googleLogo.src} alt="Logo de Google" />
        <span id="login_text">Continue with Google</span>
        <span id="spinner">
          <LoadingSpinner />
        </span>
      </button>
    </form>
  </section>
</Layout>

<script>
  const loginBtn = document.getElementById("login_btn");
  const login_text = document.getElementById("login_text");
  const spinner = document.getElementById("spinner");
  if (loginBtn && spinner) {
    loginBtn.addEventListener("click", () => {
      spinner.style.display = "inline-block";
      login_text.innerText = "";
    });
  }
</script>

<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 1.5rem;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 2px solid var(--blanco);
    padding: 6rem;
    border-radius: 15px;
    text-align: center;
    max-width: 100vw;
    box-sizing: border-box;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }
  .separator {
    background-color: var(--blanco);
    height: 2px;
    width: 80%;
  }
  button {
    border: 3px solid var(--gris-oscuro);
    padding: 0.7rem 2.2rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 20rem;
    max-width: 100%;
    box-sizing: border-box;
  }
  button:hover {
    background-color: var(--gris-oscuro);
  }
  #spinner {
    display: none;
    fill: var(--accent);
    width: 1.5rem;
    margin-left: 4rem;
  }
  button > img {
    width: 2rem;
    height: 2rem;
  }
  @media (max-width: 600px) {
    section {
      padding: 2rem 1rem;
      gap: 2rem;
      border-width: 1.5px;
      min-width: 0;
      width: 95%;
    }
    button {
      width: 16rem;
      font-size: 0.95rem;
      padding: 0.7rem 1rem;
      gap: 0.7rem;
    }
    .separator {
      width: 90%;
    }
    h2 {
      font-size: 2rem;
    }
    body {
      padding: 0.5rem;
    }
    #spinner {
      margin-left: 3.5rem;
    }
  }
</style>
