---
import Layout from "../layouts/Layout.astro";
import googleLogo from "../images/googleLogo.png"

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if(accessToken && refreshToken){
	return redirect("/");
}

---

<Layout title="Submana Login">
  <section>
    <h2>Login</h2>
    <div class="separator"></div>
    <form action="/api/auth/signin" method="post">
      <button value="google" name="provider" type="submit"><img src={googleLogo.src} alt="Logo de Google"></img> Continuar con Google</button>
    </form>
  </section>
</Layout>

<style>

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 2px solid var(--blanco);
    padding: 6rem;
    border-radius: 15px;
    text-align: center;
  }
  h2{
    font-size: 3rem;
    margin: 0;
  }
  .separator{
    background-color: var(--blanco);
    height: 2px;
    width: 80%;
  }
  button{
    border: 3px solid var(--gris-oscuro);
    padding: .7rem 2.2rem;
    margin: .5rem;
    border-radius: 10px;
    font-size: 1rem ;
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  button:hover{
    background-color: var(--gris-oscuro);
  }
  button > img{
    width: 2rem;
    height: 2rem;
  }
</style>

<script>
  if (window.location.search) {
    const url = new URL(window.location.href);
    url.search = ''; // Elimina todos los parámetros
    window.history.replaceState({}, document.title, url.pathname);
  }
</script>