---
import '@fontsource-variable/inter';
import { Toaster } from "@pheralb/toast";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Toaster position="top-center" theme="dark" client:load/>
	</body>
</html>
<style is:global>
	:root {
		/* --negro: #13151a; */
		/* --negro: #050506;
		--blanco: #d4d4d8;
		--verde: #4caf50;
		--azul: #00bcd4;
		--gris: #6a6a6c;
		--naranja: #ff5722;
		--gris-oscuro: #1e1e1e; */
		/* --negro-claro: #050506; */
		/* --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		); */
	}
	:root{
		--negro: #131313;
		--gris-oscuro: #2c2c2c;
		--gris: #3a3a3a;
		--gris-claro: #777;
		--blanco: #fff;
		--verde: #2ecc71;
		--naranja: #e67e22;
		--azul: #3498db;
		--rojo: #e74c3c;
		--rojo-oscuro: #c0392b;
	}
	html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
	html{
		background: var(--negro);
		color: var(--blanco);
	}
	*{
		font-family: 'Inter Variable', sans-serif;
		box-sizing: border-box;
		margin: 0;
    padding: 0;
		-webkit-tap-highlight-color: transparent;
	}
</style>
